<h1><a ui-sref="index">Super Awesome Images</a></h1>

<div ng-if="!vm.image.url">
	<h3>Hmmm... That image doesn't seem to exsist</h3>
</div>

<div ng-if="vm.image.url">
	<div ng-click="vm.hide = !vm.hide">Need to change the photo?</div>
	<button ng-click="vm.hideDel = !vm.hideDel">Delete Post?</button>
	<button ng-show="vm.hideDel" ng-click="vm.hideDelFun = !vm.hideDelFun">Are You Sure?</button>
	<button ng-show="vm.hideDelFun" ng-click="vm.destroy()">Click Here and its Gone</button>



	<form ng-submit="vm.update()" ng-show="vm.hide">
		<input type="text" ng-model="vm.image.url" placeholder="New Photo URL Here" required>
		<button type="ng-submit">Update</button>
	</form>

	<img src="{{vm.image.url}}" alt="should be an awesome image here">

	<div ng-repeat="tag in vm.image.tags[0].hashtag">
		<p >{{tag}}<span ng-click="vm.deleteTag($index)">X</span></p>
	</div>

	<form ng-submit="vm.addTags()">
		<input type="text" placeholder="tags comma seperated" ng-model="vm.tags">
		<button type="submit">Add Tags</button>
	</form>
	
</div>
